.cool-image-container {
  margin-top: 50px;
}

.cool-image {
  max-width: 100%;
  height: auto;
  border-radius: 15px;
}

.botones {
  margin-top: 20px;
}

.btn-primary, .btn-secondary {
  padding: 10px 20px;
  font-size: 1.2em;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.btn-secondary:hover {
  background-color: #343a40;
}
